.Weather {
  background-color: lightcoral;
  border: 3px solid lightblue;
  color: darkcyan;
  /*space around the weather div*/
  /*margin: 30px;*/
  border-radius: 4px;
  padding: 20px;
}

.Weather form {
  margin-top: 10px;
}

/*targeting the h1 in the .Weather component */
.Weather h1 {
  color: aliceblue;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
}

/*all ul's come with some space, set to 0 to fix and adjust later */
/*.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}*/

/* this is the icon url being targeted */
.Weather img {
  display: inline-block;
  /*clearfix was not working for me so used these two lines to line up the image and temp */
  position: relative;
  top: -20px;
}

.Weather .temperature {
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  font-size: 18px;
  /* fix so the C F move to top, instead of bottom of line, these two lines together */
  position: relative;
  top: -28px;
  margin-left: 6px;
  line-height: 1;
}

.DailyForecast ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
}

.DailyForecast li {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  border: 1px solid green;
  border-radius: 2px;
  text-align: center;
  padding: 5px;
}

.WeatherInfo li {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.WeatherInfo ul {
  padding: 0;
}
